<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccloud.oa.user.mapper.AttendanceMapper">

    <!--  按照时间区间获取正常打卡的次数  -->
    <select id="getPunchClockCount" resultType="java.lang.Integer">
        SELECT COUNT(account) FROM oa_attendance
        WHERE account = #{account}
        AND DATE_FORMAT(create_time, '%y-%M-%d') AND `status` = 0
        BETWEEN DATE_FORMAT(#{begin},'%y-%M-%d') AND DATE_FORMAT(#{end},'%y-%M-%d')
    </select>


</mapper>
